apiVersion: kuadrant.io/v1
kind: AuthPolicy
metadata:
  name: authn-{{ app_name }}
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: {{ app_name }}-route
  defaults:
    strategy: merge
    rules:
      authentication:
        "api-key-authn":
          apiKey:
            allNamespaces: true
            selector:
              matchLabels:
                app: {{ app_name }}
          credentials:
            authorizationHeader:
              prefix: APIKEY