apiVersion: kuadrant.io/v1
kind: AuthPolicy
metadata:
  name: authz-{{ app_name }}
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: {{ app_name }}-route
  rules:
    authorization:
      "free":
        opa:
          rego: |
            groups := split(object.get(input.auth.identity.metadata.annotations, "secret.kuadrant.io/plan-id", ""), ",")
            allow { groups[_] == "free" }         
    response:
      unauthorized:
        headers:
          "content-type":
            value: application/json
        body:
          value: |
            {
              "error": "Forbidden",
              "message": "This key is not authorized."
            }
