apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ app_name }}-route
spec:
  hostnames:
    - hello.{{ kuadrant_sub_domain }}.{{ kuadrant_zone_root_domain }}
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: ingress-gateway
      namespace: kuadrant-system
  rules:
    - backendRefs:
        - group: ''
          kind: Service
          name: {{ app_name }}
          port: 8080
          weight: 1
      matches:
        - path:
            type: PathPrefix
            value: /