apiVersion: v1
kind: Secret
metadata:
  name: apikey-admin-user
  labels:
    authorino.kuadrant.io/managed-by: authorino
    app: {{ app_name }}
  annotations:
    kuadrant.io/groups: admins
stringData:
  api_key: iamanadmin
type: Opaque