apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: {{ kuadrant_aws_access_key_id  }}
  AWS_REGION: {{ kuadrant_aws_region }}
  AWS_SECRET_ACCESS_KEY: {{ kuadrant_aws_secret_access_key }}
type: kuadrant.io/aws